body{
	display: flex;
	flex-direction: column;
}
.head{
	position: fixed;
}
main{
	background-color: #E8F6E7;
	margin-top: 72px;
	width: 100.3%;
	height: 545px;
	margin-left: -6px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;	
}
ul{
	color: #5E3939;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	line-height: 60px;
	margin-right: 130px;
}
.my-contacts{
	display: flex;
}
a{
	text-decoration: none;
	color: #5E3939;
}
.icon-img{
	height: 40px;
	width: 40px;
	margin-bottom: -11px;
}